{% extends 'base.html.twig' %}

{% block title %}Welcome to Abysstore!{% endblock %}

{% block body %}
<div>
    <h1 class="text-5xl text-center mt-2">Abysstore</h1>
    <p class="text-center mt-6">Content is coming...</p>
</div>
{% endblock %}
