{% extends 'base.html.twig' %}

{% block title %}Welcome to Abysstore!{% endblock %}

{% block body %}
<div>
    <h1 class="text-5xl text-center mt-2">Abysstore</h1>
    <p class="text-center mt-6">
        Welcome into the Abysstore, the best place to find what you need!
    </p>
</div>
{% endblock %}
