{% extends 'landing.html.twig' %}

{% block title %}Welcome to Abysstore!{% endblock %}

{% block body %}
    <article>
        <section class="landing-page flex flex-col h-[300px] text-white">
            <div class="flex-1 flex flex-col justify-center items-center">
                <h1 class="text-2xl center">Welcome to the Abysstore</h1>
            </div>
            <div class="flex-1 flex flex-col justify-center items-center mx-4">
                <p class="mb-4 text-center">Buy what you want! Order from wherever you want!</p>
                <twig:Link url="javascript:void(0)" icon="ph:magnifying-glass" label="Explore" type="light" />
            </div>
        </section>

        <section class="mt-4 container mb-4">
            <h2 class="text-2xl my-4 text-center">Newest items!</h2>
            <div class="flex flex-col gap-4">
                {% for item in items %}
                    <twig:ItemCard
                        name="{{ item.name }}"
                        description="{{ item.description }}"
                        priceExcludingTaxes="{{ item.priceExcludingTaxes }}"
                    />
                {% endfor %}
            </div>
        </section>
    </article>
{% endblock %}
