<div class="bg-blue-900 text-white p-4 shadow-lg">
    <a href="{{ path('homepage:index') }}">Abysstore</a>
</div>
<div class="hidden absolute top-0 right-0 left-0 bottom-0 bg-white p-4">
    <div>
        <twig:ux:icon name="bytesize:close" class="h-4 w-4 float-end" />
    </div>
    <div class="mt-4">
        test
    </div>
</div>
